@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ##### Google Map ##### -->
<div class="map-area">
    <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=istanbul+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/population/">Calculate population in area</a></iframe></div>
</div>

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Contact Form Area -->
            <div class="col-12 col-md-10 col-lg-9">
                <div class="contact-form">
                    <h5 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">İletişime Geçin</h5>
                    <!-- Contact Form -->
                    <form id="myForm" action="#" method="post">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="group">
                                    <input type="text" name="Name" id="name" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>İsim</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="group">
                                    <input type="email" name="Email" id="email" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="group">
                                    <textarea name="Content" id="message" required></textarea>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Mesaj</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn original-btn">Gönder</button>
                            </div>
                        </div>
                        <div style="display:none" id="infodiv" class="alert alert-success" role="alert">
                            <span id="info"></span>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-12 col-md-10 col-lg-3">
                <div class="post-sidebar-area">




                    <!-- Widget Area -->
                    <div class="sidebar-widget-area">
                        <h5 class="title subscribe-title">Yeniliklerden Haberdar Olun</h5>
                        <div class="widget-content">
                            <form action="#" class="newsletterForm">
                                <input type="email" name="email" id="subscribesForm" placeholder="Email Adresiniz">
                                <button type="submit" class="btn original-btn">Abone Ol</button>
                            </form>
                        </div>
                    </div>

                    <!-- Widget Area -->
                    <div class="sidebar-widget-area">
                        <div class="widget-content social-widget d-flex justify-content-between">
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->
@section Scripts {

    <script>
        $('#myForm').submit(sendMessage);

        function sendMessage(event) {
            event.preventDefault();
            var formData = $('#myForm').serialize();

            $.ajax({
                type: 'POST',
                url: '/Contact/SendMessage',
                data: formData,
                success: function (response) {

                    if (response == "Ok") {
                        $('#info').text('Mesajınız alınmıştır');
                    }
                    else {
                        $('#info').text('Bir Hata Oluştu Tekrar Deneyiniz');
                    }
                    $('#name').val("");
                    $('#email').val("");
                    $('#message').val("");
                    $('#infodiv').show();
                },
                error: function (error) {

                    console.error('Hata:', error);
                }
            });
        }
    </script>

}